* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7f7;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----------------GENERAL--------------------------*/
.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.text {
  color: #848789;
}

/*-----------------GENERAL--------------------------*/
/*-----------------HEADER--------------------------*/
.header {
  margin-bottom: 117px;
  position: relative;
  height: 100vh;
  padding: 15px;
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 80px;
  }
}
@media (max-width: 700px) {
  .header {
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .header {
    margin-bottom: 20px;
  }
}
.header__background {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.menu {
  position: relative;
}
.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 550px) {
  .menu__logo {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
.menu__logo img {
  position: absolute;
  z-index: 2;
}
.menu__items {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 550px) {
  .menu__items {
    display: none;
  }
}
.menu__item a {
  font-size: 13px;
  line-height: 95px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
@media (max-width: 550px) {
  .menu {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu .menu__burger {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: aqua;
  }
}

/*-----------------HEADER--------------------------*/
/*-----------------MAIN--------------------------*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
/*----------*/
.preamble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  margin-bottom: 142px;
}
@media (max-width: 900px) {
  .preamble {
    margin-bottom: 60px;
  }
}
.preamble__logo {
  margin-bottom: 34px;
}
.preamble__title {
  margin-bottom: 35px;
}
.preamble__text {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
}

/*----------*/
.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 900px) {
  .item {
    display: block;
    margin-bottom: 30px;
  }
  .item .item__image {
    display: none;
  }
}
.item:nth-child(even) .item__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.item__image img.image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.item__image_big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.image__logo {
  position: relative;
  z-index: 2;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product__image {
  position: relative;
}
.product__image img {
  position: relative;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.discrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 68px 55px 67px;
  background-color: #ffff;
}
@media (max-width: 900px) {
  .discrp {
    padding: 0px 68px 55px 67px;
  }
}
.discrp__logo {
  margin-bottom: 31px;
}
.discrp__title {
  margin-bottom: 26px;
}
.discrp__text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.discrp__line {
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

/*----------*/
.share {
  margin-bottom: 20px;
  padding-bottom: 40px;
  padding-top: 140px;
}
@media (max-width: 900px) {
  .share {
    padding: 30px 0 0 100px;
  }
}
@media (max-width: 700px) {
  .share {
    padding: 20px 0 0 70px;
  }
}
@media (max-width: 550px) {
  .share {
    padding: 20px 0 0 30px;
  }
}

.swiper {
  max-width: 1040px;
  margin: 0 auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide__logo {
  margin-bottom: 37px;
}
.swiper-slide__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin-bottom: 27px;
}
.swiper-slide__title span {
  font-weight: 300;
  color: #848789;
}
.swiper-slide__text {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 104px;
  text-align: center;
}

.swiper-share__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 9px;
          flex: 0 0 9px;
  height: 16px;
  background-color: aqua;
  border-radius: 20px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.swiper-pagination-bullet-active {
  background-color: #a9afb3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*-----------------MAIN--------------------------*/
/*-----------------FOOTER--------------------------*/
.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  margin: 0 15px;
}
@media (max-width: 630px) {
  .footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 630px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .footer__container div:not(last-child) {
    margin-bottom: 20px;
  }
}
.footer__text {
  font-size: 13.9px;
  font-style: italic;
  line-height: 17px;
  max-width: 240px;
}
.footer__text::first-line {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.footer__logo a {
  display: inline-block;
  margin: 0 7.5px;
}
.footer__link {
  display: inline-block;
  margin: 0 7.5px;
}
.footer__author {
  line-height: 36px;
}
.footer__author span {
  display: inline-block;
  margin-right: 9px;
}

/*-----------------FOOTER-------------------------*/